<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>491013391004-rdlf5b169jj0g0f137nodba5059g14de.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.491013391004-rdlf5b169jj0g0f137nodba5059g14de</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>491013391004-4d5u21qb2eeoc5nrhtnqp8k7v165fg68.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBzxrZmKPnGJTrS18WPjCeDol-bycG6HnE</string>
	<key>GCM_SENDER_ID</key>
	<string>491013391004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.habit.tracker</string>
	<key>PROJECT_ID</key>
	<string>habittracker-51e7f</string>
	<key>STORAGE_BUCKET</key>
	<string>habittracker-51e7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:491013391004:ios:2e47481497907ec17aa359</string>
</dict>
</plist>
